---
title: Celeen's Projects
---

<%= partial "header" %>

<section class="main">
  <h3>Projects</h3>
  <article>
    <ul>
      <li><p><%= link_to 'Python Data Structures', "", target: '_blank'%> is a rebuilding of Dave Astels' DBC Deep Dives course, which takes a deeper look into data structures for more advanced beginners. I've been in the process of re-writing this hands-on TDD course in Python, to be used as a meetup series for <%= link_to "Chicago's PyLadies chapter", "http://chicago.pyladies.com", target: '_blank', class: 'hidden' %>.</p></li>
      <li><p><%= link_to 'DBC Pay Stats', "", target: '_blank'%> is a collaborative effort to build a website that can collect and manage open salary information for Dev Bootcamp grads. The project was initially started in response to an overwhelming interest in career trajectory and salary info among DBC Alumni sparked by <%= link_to '#talkpay', 'https://twitter.com/hashtag/talkpay?lang=en', target: '_blank', class: 'hidden'%>.</p></li>
      <li><p>When I was in Dev Bootcamp's prep phase, I learned HTML and CSS through experience, by making a blog from scratch, and posting reflections, and tech posts about the things I was learning. I've since retired that blog/design, but you can view it (and read all its posts) at my <%= link_to 'blog archive', "http://celeen.info/archive", target: '_blank'%>.</p></li>
      <li><%= link_to 'Emotional Securities', "", target: '_blank'%> explores the relationship between the way people feel about a company, and its stock price. I worked on this project with two other fantastic gentlemen over 8 days at Dev Bootcamp. It uses Twitter's streaming API to analyze popular opinion with Alchemy API. It is not currently live. As it was my first larg(er) project, and was built in a relatively short amount of time, I'm terribly proud of it.</p></li>
      <li><%= link_to 'Soundcloud', "https://soundcloud.com/playtheswan", target: '_blank'%> - Sometimes I record music. (Mostly ukulele covers.)</li>
      <li><%= link_to 'YouTube Vids', "https://www.youtube.com/channel/UCG4ZHMnxvjbl0QzH-S6okVw/videos", target: '_blank'%> - Sometimes I video record music. (Mostly ukulele covers.)</li>
    </ul>
  </article>
</section>